{{ define "head" }}
<meta name="description" content={{ .Site.Params.description }}>
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">

<!-- fontawesome -->
<script defer src="{{ .Site.Params.staticPath }}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}

<div class="row">
    <div class="col-lg-6">
        {{- partial "sections/latest.html" . -}}
    </div>
    <div class="col-lg-6">
        {{- partial "sections/projects.html" . -}}
    </div>
</div>

{{- partial "sections/experience.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/education.html" . -}}
{{- partial "sections/achievements.html" . -}}
{{- partial "sections/contact.html" . -}}
{{ end }}