<figure>
    <img src="/images/TransfusionBranding/clientIcon.ico" alt="Client Icon" />
    <figcaption>Client Icon</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/CommunityIcon.png" alt="Community Icon" />
    <figcaption>Community Icon</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/headerCapsule.png" alt="Header Capsule" />
    <figcaption>Header Capsule</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/libraryCapsule.png" alt="Library Capsule" />
    <figcaption>Library Capsule</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/LibraryHeader.png" alt="Library Header" />
    <figcaption>Library Header</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/libraryLogo.png" alt="Library Logo" />
    <figcaption>Library Logo</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/LIbraryLogoTransparent.png" alt="Library Logo Transparent" />
    <figcaption>Library Logo Transparent</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/mainPageHeader.png" alt="Main Page Header" />
    <figcaption>Main Page Header</figcaption>
</figure>
<figure>
    <img src="/images/TransfusionBranding/SearchHeader.png" alt="Search Header" />
    <figcaption>Steam Search Header</figcaption>
</figure>

<style>

figure {
  margin-bottom: 2rem;
  text-align: center;
}
figure img {
    border-radius: 0 !important;
}
figcaption {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}
</style>
